{% extends "base.html" %}

{% block title %} All Standards {% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block body %}
    <div class="container">
        <h1 id="headline">All Standards</h1>
        <p>Want to know what others are doing? Check here! This page exists for the purpose of me having a loop in the code.</p>

        [['Standard Name:', 91909, 122345], ['Description:', 'DT CAT', 'asdkf;l'], ['Credits:', 3, 3], ['NCEA Level: ', 3, 2]]
        <table>
            <tr>
                <th></th>
                <td></td>
            </tr>
        </table>

    </div>
{% endblock %}