<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Boostrap CSS package -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

        <link rel="stylesheet" href="{{ url_for('static, filename='css/style.css') }}">
        <!-- Title -->
        {% block head %}
            <title>{% block title %}{% endblock %} | NCEA Calculator</title>
        {% endblock %}
    </head>
    <body>
                            <!-- Navigation -->
    <div class="container">
        <ul class="nav nav-fill">
            <li class="nav-item">
                <a class="nav-link active" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/enter">Enter new standards!</a>
            </li>
        </ul>
                            <!-- CONTENT GOES HERE -->
        <h1>NCEA CREDIT CALCULATOR</h1>
        {% block body %}{% endblock %}
    </div>
                            <!-- Footer -->
    <script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    </body>
</html>
