<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Boostrap CSS package -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        {% block head %}
            <title>{% block title %}{% endblock %} | NCEA Calculator</title>
        {% endblock %}
    </head>
    <body>
                                <!-- Navigation -->
        <nav class="navbar navbar-expand-md navbar-dark bg-dark custom-nav">
            <div class="container">
                <a class="navbar-brand" href="/">Credit Calculator</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#cc-navbar" aria-controls="cc-navbar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="cc-navbar">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/overview">Overview</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/new-standard/enter">Enter Standard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/new-achievement/enter">Add Achieved Credits</a>
                        </li>
                    </ul>
                </div>

                <div>
                    <ul class="navbar-nav ml-auto float-right">
                        <li class="nav-item active">
                            <a class="nav-link" href="/settings">Welcome, {{ session.username }}</a>
                        </li>

                    </ul>
                    <a class="btn btn-outline-secondary ml-2" href="/logout">Log out</a>
                </div>
            </div>
        </nav>
                                <!-- CONTENT GOES HERE -->

        <main class="container content">
            {% block body %}{% endblock %}
        </main>
                                <!-- Footer -->
        <footer class="container">
            <hr>
            <p class="text-muted">&copy; Manuela Spies
            <br><a href="/contact">Contact</a></p>
            <script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
            <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
            {% block footer %} {%  endblock %}
        </footer>
    </body>
</html>
