{% extends base %}

{% block title %} Contact {% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block body %}
    <div class="container">
        <h1 id="contact">Contact</h1>
        <p>Thank you very much for using this calculator. To contact the creator of this app, email
            <a href="mailto:spiesma@wgc.school.nz">spiesma@wgc.school.nz</a>.</p>

        <h1 id="copyright">Copyright</h1>
        <p>This website is not affiliated with NZQA, the New Zealand government or anything else. It's just
            a student project for a Digital Technologies internal and nothing official. The creators of this
            website do not have any copyright for NCEA.</p>
        <p>Copyright is the right that are given to the creator and/or owner of an original content upon creation. It
            gives right of ownership to things you created, such as books, or programs which applies to this case.
            Copyright by default is very “closed”, i.e. the creator has many rights and nobody else has any rights, and
            if anyone owns, sells, modifies, or uses it can be punished through the law. However, the creator of the
            property can grant people license that allow them to use the property under given restrictions, i.e. time
            period, whenever they can edit it, whenever they can sell it or publish it, and costs for licenses. There
            are various types of pre-written licenses, and individual ones, under which these things are made
            available.</p>
        <p>This is relevant to me. Thus, through licenses, I can use various written codes and similar things in my
            project. I am using bootstrap (licensed under the MIT License), Google Charts (under Apache license) and
            other things that don’t need to be noted going by Mr Harford. The outcome only used open licenses, meaning
            licenses for which you do not need to pay and where the restrictions aren’t strict. The licenses allow me to
            use the code on my project, due to the circumstances and limits/lack of limits. </p>
        <p>Sqlite is public domain and thus usable, as nobody owns the copyright. Because of copyright implications, I
            used my own photos and obtained verbal consent of the models.</p>

        <h1>Documentation of the Development Process</h1>
        <ul>
            <li><a href="{{ url_for('static', filename='documentation/91903.pdf') }}">AS91903 <em>Use complex techniques to develop a digital media outcome</em></a></li>
        </ul>
    </div>
{% endblock %}