<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Boostrap CSS package -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <title>Contact | NCEA Calculator</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark custom-nav">
            <div class="container">
                <a class="navbar-brand" href="/">Credit Calculator</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#cc-navbar" aria-controls="cc-navbar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="cc-navbar">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/contact">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/register">Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/">Login</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

                                <!-- CONTENT GOES HERE -->
        <main class="container content">
            <div class="centre custom-box">
                <h1 id="contact">Contact</h1>
                <p>Thank you very much for using this calculator. To contact the creator of this app, email
                    <a href="mailto:spiesma@wgc.school.nz">spiesma@wgc.school.nz</a>.</p>
                <h1 id="copyright">Copyright</h1>
                <p>This website is not affiliated with NZQA, the New Zealand government or anything else. It's just
                    a student project for a Digital Technologies internal and nothing official.</p>
                <div class="centre btn btn-info"><a href="/" class="white-font">Return to Sign In</a></div>
            </div>
        </main>
                                <!-- Footer -->
        <footer class="text-muted container fixed-bottom">
            <hr>
            <p class="text-muted">&copy; Manuela Spies
            <br><a href="/contact">Contact</a></p>
            <script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
            <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
            {% block footer %} {%  endblock %}
        </footer>
    </body>
</html>
