{% extends "base.html" %}

{% block title %} New Achievement {% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block body %}
    <h1>Enter Your Achieved Standard</h1>
        {% if alert != False %}
            <div class="alert alert-{{ colour }}">{{ alert }}</div>
        {% endif %}
    <div class="container">
        <div class="row">
            <div class="col">
                <form class="form-horizontal" method="post" action="/add-credits">
                    <fieldset>
                        <!-- Form Name -->
                        <legend>Form Name</legend>

                        <!-- Select AS Standard Number -->
                        <div class="form-group row">
                            <label class="col-4 col-form-label">Select</label>
                            <div class="col-8">
                                <select id="input_as" name="input_as" class="custom-select">
                                    {% for standard in as_numbers %}
                                    <option value="{{ standard[0] }}">{{ standard[1] }} - {{ standard[2] }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <!-- Select Grade -->
                        <div class="form-group row">
                          <label class="col-md-4 control-label" for="input_grade">Grade</label>
                          <div class="col-md-4">
                            <select id="input_grade" name="input_grade" class="form-control custom-select" required="required" size="3">
                              <option value="A">Achieved</option>
                              <option value="M">Merit</option>
                              <option value="E">Excellence</option>
                            </select>
                          </div>
                        </div>

                        <div class="form-group row">
                            <div class="offset-4 col-8">
                                <button name="submit" type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block footer %}
{% endblock %}