{% extends "base.html" %}

{% block title %} Add Standard {% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block body %}
    <h1>Enter Your Achieved Standard</h1>
    <div class="alert alert-danger">
        {{ alert }}
    </div>
    <form method="post" action="/add-standard">
      <div class="form-group row">
        <label for="standard_name" class="col-4 col-form-label">AS Identification Number</label>
        <div class="col-8">
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">AS</div>
            </div>
            <input id="standard_name" name="standard_name" placeholder="912345" type="text" class="form-control" required="required">
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="description" class="col-4 col-form-label">Description</label>
        <div class="col-8">
          <textarea id="description" name="description" cols="40" rows="2" class="form-control" required="required"></textarea>
        </div>
      </div>
      <div class="form-group row">
        <label for="credits" class="col-4 col-form-label">Credits</label>
        <div class="col-8">
          <input id="credits" name="credits" type="text" class="form-control" aria-describedby="creditsHelpBlock" required="required">
          <span id="creditsHelpBlock" class="form-text text-muted">Enter an integer only.</span>
        </div>
      </div>
      <div class="form-group row">
        <label for="ncea_level" class="col-4 col-form-label">NCEA Level</label>
        <div class="col-8">
          <select id="ncea_level" name="ncea_level" class="custom-select" required="required">
            <option value="1">Level 1</option>
            <option value="2">Level 2</option>
            <option value="3">Level 3</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-4">UE Reading</label>
        <div class="col-8">
          <div class="custom-control custom-radio custom-control-inline">
            <input name="reading" id="reading_0" type="radio" class="custom-control-input" value="Yes" required="required">
            <label for="reading_0" class="custom-control-label">Yes</label>
          </div>
          <div class="custom-control custom-radio custom-control-inline">
            <input name="reading" id="reading_1" type="radio" class="custom-control-input" value="No" required="required">
            <label for="reading_1" class="custom-control-label">No</label>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-4">UE Writing</label>
        <div class="col-8">
          <div class="custom-control custom-radio custom-control-inline">
            <input name="writing" id="writing_0" type="radio" required="required" class="custom-control-input" value="Yes">
            <label for="writing_0" class="custom-control-label">Yes</label>
          </div>
          <div class="custom-control custom-radio custom-control-inline">
            <input name="writing" id="writing_1" type="radio" required="required" class="custom-control-input" value="No">
            <label for="writing_1" class="custom-control-label">No</label>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-4">L1 Literacy</label>
        <div class="col-8">
          <div class="custom-control custom-radio custom-control-inline">
            <input name="literacy" id="literacy_0" type="radio" class="custom-control-input" value="Yes" required="required">
            <label for="literacy_0" class="custom-control-label">Yes</label>
          </div>
          <div class="custom-control custom-radio custom-control-inline">
            <input name="literacy" id="literacy_1" type="radio" class="custom-control-input" value="No" required="required">
            <label for="literacy_1" class="custom-control-label">No</label>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-4">L1 Numeracy</label>
        <div class="col-8">
          <div class="custom-control custom-radio custom-control-inline">
            <input name="numeracy" id="numeracy_0" type="radio" class="custom-control-input" value="Yes" required="required">
            <label for="numeracy_0" class="custom-control-label">Yes</label>
          </div>
          <div class="custom-control custom-radio custom-control-inline">
            <input name="numeracy" id="numeracy_1" type="radio" class="custom-control-input" value="No" required="required">
            <label for="numeracy_1" class="custom-control-label">No</label>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-4">Is the subject counting towards UE?</label>
        <div class="col-8">
          <div class="custom-control custom-radio custom-control-inline">
            <input name="ue_credits" id="ue_credits_0" type="radio" class="custom-control-input" value="Yes" required="required">
            <label for="ue_credits_0" class="custom-control-label">Yes</label>
          </div>
          <div class="custom-control custom-radio custom-control-inline">
            <input name="ue_credits" id="ue_credits_1" type="radio" class="custom-control-input" value="No" required="required">
            <label for="ue_credits_1" class="custom-control-label">No</label>
          </div>
        </div>
      </div>
      <div class="form-group row">
          <div class="offset-4 col-8">
            <button name="submit" type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </form>
{% endblock %}
{% block footer %}
{% endblock %}