{% extends "base.html" %}

{% block title %} Home {% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block body %}
<!--CONTENT-->
    <div class="container">
        <table class="table">
            <tr>
                <th>All</th>
                <th>Level 3</th>
                <th>Level 2</th>
                <th>Level 1</th>
            </tr>
{% for entry in entries %}
            <tr>
                <td>results[0]</td>
                <td>results[1]</td>
                <td>results[2]</td>
                <td>results[3]</td>
            </tr>
{% endfor %}
        </table>
    </div>
{% endblock %}