{% extends "base.html" %}

{% block title %} Home {% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block body %}
    <h1>NCEA Credit Calculator</h1>

    <div class="container">
        <table class="table">
            <tr>
                <th>Grade</th>
                <th>Achieved</th>
                <th>Merit</th>
                <th>Excellence</th>
            </tr>
{% for entry in entries %}
            <tr>
                <td>results[0]</td>
                <td>results[3]</td>
                <td>results[2]</td>
                <td>results[1]</td>
            </tr>
{% endfor %}
        </table>
    </div>
{% endblock %}