{% extends "base.html" %}

{% block title %} Home {% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block body %}
    <h1>NCEA Credit Calculator</h1>

    <div class="container">
        <table class="table">
            <tr>
                <th>Grade</th>
                <th>All</th>
                <th>Excellence</th>
                <th>Merit</th>
                <th>Achieved</th>
                <th>Left</th>
            </tr>
{% for result in results %}
            <tr>
                <td><em>{{  result[0] }}</em></td>
                <td>{{  result[1] }}</td>
                <td>{{  result[2] }}</td>
                <td>{{  result[3] }}</td>
                <td>{{  result[4] }}</td>
                <td>{{  result[5] }}</td>
            </tr>
{% endfor %}
        </table>
    </div>
{% endblock %}