{% extends "base.html" %}

{% block title %} Overview {% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block body %}
    <div class="piechart_block">
        <!-- Here, the pie charts go -->
    </div>
    <div class="">
        <h2>NCEA Progress</h2>
{#        <div class="tabber">#}
{#            <div class="btn-group btn-group-justified">#}
{#                <button class="btn btn-default btn-custom" type="button" onclick="openChart('all')">All#}
{#                    Credits#}
{#                </button>#}
{#                <button class="btn btn-default btn-custom" type="button" onclick="openChart('l3')">#}
{#                    Level 3#}
{#                </button>#}
{#                <button class="btn btn-default btn-custom" type="button" onclick="openChart('l2')">#}
{#                    Level 2#}
{#                </button>#}
{#                <button class="btn btn-default btn-custom" type="button" onclick="openChart('l1')">#}
{#                    Level 1#}
{#                </button>#}
{#            </div>#}
{##}
{##}
{#            <div id="all" class="piechart-block">#}
{#                <div class="piechart" id="all_chart"></div>#}
{#            </div>#}
{##}
{#            <div id="l3" class="piechart-block" style="display:none;">#}
{#                <div class="piechart" id="l3_chart"></div>#}
{#            </div>#}
{##}
{#            <div id="l2" class="piechart-block" style="display:none;">#}
{#                <div class="piechart" id="l2_chart"></div>#}
{#            </div>#}
{##}
{#            <div id="l1" class="piechart-block" style="display:none;">#}
{#                <div class="piechart" id="l1_chart"></div>#}
{#            </div>#}
{##}
{#        </div>#}

        <table class="table table-hover table-condensed">
            <tr>
                <th>Level 1 Credits</th>
                <td>
                    {{ results[1][1] }} / 80
                    <br>{{ other[0][2][1] }} until Excellence Endorsement
                    <br>{{ other[0][2][2] }} until Merit Endorsement
                </td>
            </tr>
            <tr>
                <th>Level 2 Credits</th>
                <td>
                    {{ results[2][1] }} / 60
                    <br>{{ other[0][1][1] }} until Excellence Endorsement
                    <br>{{ other[0][1][2] }} until Merit Endorsement
                </td>
            </tr>
            <tr>
                <th>Level 3 Credits</th>
                <td>
                    {{ results[3][1] }} / 60
                    <br>{{ other[0][0][1] }} until Excellence Endorsement
                    <br>{{ other[0][0][2] }} until Merit Endorsement
                </td>
            </tr>
            <tr>
                <th>Level 1 Literacy</th>
                <td>XX / 60</td>
            </tr>
            <tr>
                <th>Level 1 Numeracy</th>
                <td>XX / 60</td>
            </tr>
            <tr>
                <th>UE Literacy Reading</th>
                <td>XX / 5</td>
            </tr>
            <tr>
                <th>UE Literacy Writing</th>
                <td>XX / 5</td>
            </tr>
        </table>
    </div>
    <div class="">
        <!-- Table with all standards -->
        <h2>All Standards</h2>
        <table class="table table-hover table-condensed">
            <tr>
                <th>Standard</th>
                <th>Description</th>
                <th>NCEA Level</th>
                <th>L1 Numeracy</th>
                <th>L1 Literacy</th>
                <th>UE Reading</th>
                <th>UE Writing</th>
                <th>UE Credits</th>
                <th>Grade</th>
            </tr>
            {% for row in standards %}
                <tr>
                    <td>{{ row[2] }}</td>
                    <td>{{ row[3] }}</td>
                    <td>{{ row[5] }}</td>
                    <td>{{ row[6] }}</td>
                    <td>{{ row[7] }}</td>
                    <td>{{ row[8] }}</td>
                    <td>{{ row[9] }}</td>
                    <td>{{ row[10] }}</td>
                    <td>{{ row[1] }}</td>
                </tr>
            {%  endfor %}
        </table>
    </div>
{% endblock %}

{% block footer %}
{#    {% for chart in results %}#}
{#        <script>#}
{#            // Load google charts#}
{#            google.charts.load('current', {'packages': ['corechart']});#}
{#            google.charts.setOnLoadCallback(drawChart);#}
{##}
{#            // Draw the chart and set the chart values#}
{#            function drawChart() {#}
{#                var data = google.visualization.arrayToDataTable([#}
{#                    ['Grade', 'Credits'],#}
{#                    ['Excellence', {{ chart[2] }}],#}
{#                    ['Merit', {{ chart[3] }}],#}
{#                    ['Achieved', {{ chart[4] }}],#}
{#                    ['Left', {{ chart[5] }}]#}
{##}
{#                ]);#}
{#                var options = {'title': '{{ chart[0] }}', 'height': 200, 'width': 400};#}
{##}
{#                var chart = new google.visualization.PieChart(document.getElementById('{{ chart[6] }}_chart'));#}
{#                chart.draw(data, options);#}
{#            }#}
{#        </script>#}
{#    {% endfor %}#}
{% endblock %}