{% extends "nologin_base.html" %}

{% block title %} Register {% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block body %}
    <form class="container" method="post" action="/create-new-user">
        <h1>Register</h1>
        {% if error_message != False %}
          <div class="alert alert-{{ colour }}">{{ error_message }}</div>
        {% endif %}
        <div class="form-group row">
            <label class="col-4 col-form-label" for="username">Username</label>
            <div class="col-8">
                <input id="username" name="username" placeholder="Username" type="text" class="form-control" required="required">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-4 col-form-label" for="password1">Password</label>
            <div class="col-8">
              <input id="password1" name="password1" placeholder="Password" type="password" class="form-control" required="required">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-4 col-form-label" for="password2">Repeat password</label>
            <div class="col-8">
              <input id="password2" name="password2" placeholder="Password" type="password" class="form-control" required="required">
            </div>
        </div>
        <div class="form-group row">
            <div class="offset-4 col-8">
              <button name="submit" type="submit" class="btn btn-primary">Submit</button>
              <a class="btn btn-light" href="/">Login</a>
            </div>
        </div>
    </form>
{% endblock %}