{% extends "base.html" %}

{% block title %} Settings {% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block body %}
    {% if alert != False %}
        <div class="alert alert-secondary alert-{{ colour }}">
            {{ alert }}
        </div>
    {% endif %}
    <div class="container">
        <div>
            <h1>{{ user[1] }}</h1>
        </div>
        <div class="row">
            <form class="col form-horizontal custom-box" method="post" action="/change-password">
                <fieldset>
                    <legend>Change your password</legend>

                    <!-- Old password input-->
                    <div class="form-group">
                      <label class="col-md-4 control-label" for="oldpassword">Old Password</label>
                      <div class="col-md-4">
                        <input id="oldpassword" name="oldpassword" type="password" placeholder="Old Password" class="form-control input-md" required="">

                      </div>
                    </div>

                    <!-- New password input-->
                    <div class="form-group">
                      <label class="col-md-4 control-label" for="newpassword1">Enter New Password</label>
                      <div class="col-md-4">
                        <input id="newpassword1" name="newpassword1" type="password" placeholder="Your New Password" class="form-control input-md" required="">

                      </div>
                    </div>

                    <!-- Repeat new password input-->
                    <div class="form-group">
                      <label class="col-md-4 control-label" for="newpassword2">Repeat New Password</label>
                      <div class="col-md-4">
                        <input id="newpassword2" name="newpassword2" type="password" placeholder="Repeat New Password" class="form-control input-md" required="">
                      </div>
                    </div>

                    <!-- Submit button -->
                    <div class="form-group row">
                        <div class="offset-4 col-8">
                            <button name="submit" type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </fieldset>
            </form>

            <form class="col form-horizontal custom-box" method="post" action="/change-username"
                  title="Change username function" aria-label="Use this option to change your username.">
                <fieldset>
                    <h2>Change your username</h2>

                    <p>Your current username is <strong>{{ user[1] }}</strong>.</p>

                    <!-- New username input-->
                    <div class="form-group row">
                      <label class="col-md-4 control-label" for="newusername" id="label-newusername"
                             aria-label="Enter the user name you would like to change to here.">New Username</label>
                      <div class="col-md-4">
                        <input id="newusername" name="newusername" type="text" placeholder="Your New Username"
                               class="form-control input-md" required="" aria-labelledby="label-newusername">

                      </div>
                    </div>

                    <!-- Password input-->
                    <div class="form-group row">
                      <label class="col-md-4 control-label" for="password" id="label-password"
                      aria-label="Enter your password to check if it's really you.">Password</label>
                      <div class="col-md-4">
                        <input id="password" name="password" type="password" placeholder="Password"
                               class="form-control input-md" required="" aria-labelledby="label-password">

                      </div>
                    </div>

                    <!-- Submit button -->
                    <div class="form-group row">
                        <div class="offset-4 col-8">
                            <button name="submit" type="submit" class="btn btn-primary"
                            aria-label="Press this button to submit the form and change your username.">Submit</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
        <div>

        </div>
        <div>
            <h1>Delete data</h1>
            <!-- Delete account data -> reset account -->
            <!-- Delete account & all data -->
        </div>
    </div>
{% endblock %}
{% block footer %}
{% endblock %}